.venv/

# Ignore environment variables files
.env

# Byte compiled / optimized / DLL files
_pycache_/
*.py[cod]
*Spy.class

# Distribution / Packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db